.btn-search {
    padding: 5px 20px;
    border-radius: 5px;
    color: #a6a6a6;
    font-size: 1.2rem;
    border: 1px solid #b3b3b3;
}

.btn-add {
    padding: 5px 20px;
    background-color: var(--darkcolor);
    border-radius: 5px;
    color: var(--lightcolor);
    font-size: 1.2rem;
}

.btn-edit {
    text-align: center;
    padding: 5px 10px;
    background-color: var(--blue);
    border-radius: 5px;
    color: var(--lightcolor);
    font-size: 1.2rem;
}

.btn-resList {
    text-align: center;
    padding: 3px 10px;
    background-color: var(--darkcolor);
    border-radius: 5px;
    color: var(--lightcolor);
    font-size: 1.5rem;
}

.btn-delete {
    text-align: center;
    padding: 5px 10px;
    background-color: var(--red);
    border-radius: 5px;
    color: var(--lightcolor);
    font-size: 1.2rem;
}

.btn-reserve {
    display: flex;
    padding: 10px;
    background-color: var(--darkcolor);
    border-radius: 5px;
    color: var(--lightcolor);
    font-size: 1rem;
}

.btn-edit:hover, 
.btn-delete:hover, 
.btn-add:hover, 
.btn-reserve:hover, 
.btn-resList:hover, 
.btn-search:hover {
    opacity: 0.8;
}

.btn-toggle {
    width: 50px;
    height: 70%;
    background-color: gray;
    border-radius: 30px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-toggle > .inner-circle {
    width: 50%;
    height: 100%;
    background-color: var(--lightcolor);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.btn-toggle.active {
    background-color: var(--toggleactive);
}

.btn-toggle.active > .inner-circle{
    margin-left: 22px;
}