* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bluegreen: #1FA698;
    --lightcolor: #f2f2f2;
    --darkcolor: #373740;
    --hovercolor:#232329;
    --blue: #0088cc;
    --red: #cc0000;
    --toggleactive:#009900;
    --orange: #F27E63;
}

body {
    background-color: var(--bluegreen);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.login-reg-container {
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px  #1a1a1a;
}

.login-reg-header {
    text-align: center;
    text-transform: uppercase;
    color: var(--bluegreen);
}

.login-reg-item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.login-reg-item input[type=text],input[type=email]{
    padding: 10px;
}

.login-reg-item button{
    padding: 10px;
    background-color: var(--bluegreen);
    color: #f2f2f2;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
}

.login-reg-item button:hover{
    opacity: 0.8;
}


