@import 'customer.css';
@import 'style-2.css';
@import 'modal.css';
@import 'btns.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bluegreen: #1FA698;
    --lightcolor: #f2f2f2;
    --darkcolor: #373740;
    --hovercolor:#232329;
    --blue: #0088cc;
    --red: #cc0000;
    --toggleactive:#009900;
    --orange: #F27E63;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #cccccc;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: 0;
    cursor: pointer;
}

select {
    outline: 0;
    cursor: pointer; 
}

/*Layouting*/

#main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
        "main-headbar main-headbar main-headbar"
        "main-sidebar main-content main-content"
        "main-sidebar main-content main-content"
    ;
}

#main-headbar {
    grid-area: main-headbar;
}
#main-sidebar {
    grid-area: main-sidebar;
}
#main-content {
    grid-area: main-content;
}

/*headbar styling*/
.headbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bluegreen);
    position: fixed;
    width: 100%;
    top: 0;
}

.website-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.website-title img {
    height: 50px;
}

.website-title h3 {
    margin-left: 10px;
    color: var(--lightcolor);
}

.user-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-button {
    margin-right: 20px;
    color: var(--lightcolor);
}

.user-button a:hover{
    opacity: 0.9;
}

.user-button img {
    height: 40px;
    border-radius: 50%;
}

.user-button i {
    color: var(--lightcolor);
    font-size: 20px;
}

/*sidebar styling*/
.sidebar {
    background-color: var(--darkcolor);
    width: 20vw;
    height: 100%;
    position: fixed;
    top: 70px;
}

.sidebar-links {
    width: 100%;
    margin-top: 30px;
}

.sidebar-links a{
    display: block;
    padding: 10px;
    color: var(--lightcolor);
}

.sidebar-links a:hover{
    opacity: 0.8;
    background-color: var(--hovercolor);
}

.current-page {
    border-right: 5px solid var(--bluegreen); 
}

/*main-content*/
.content {
    padding: 20px;
    margin-top: 40px;
}

/*Cards wrapper*/
.cards-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

.cards-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cards-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cards-search input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #b3b3b3; 
    border-radius: 5px;
}

.customer-acc-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.customer-search input[type=text]{
    width: 100%;
    padding: 10px;
}

.add-card {
    margin-top: 50px;
}

/*Card wrapper*/
.card-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid var(--darkcolor);
}

.card-title {
    display: flex;
}

.card-title img{
    width: 100px;
    height: 100px;
}

.card-title h4 {
    margin-left: 20px;
    color: var(--darkcolor);
    border-bottom: 2px solid#d9d9d9;
}

.card-title h4:hover {
    border-bottom: 2px solid black;
}

.card-option {
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    gap: 10px;
}

@media (max-width: 768px) {
    #main-container {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr auto;
        grid-template-areas: 
            "main-headbar"
            "main-sidebar"
            "main-content"
        ;
        overflow-x: hidden;
        justify-content: center;
    }

    .headbar {
        position: static;
    }

    .sidebar {
        position: static;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }
    .sidebar-links {
        height: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
    }   
    .sidebar-links a {
        height: 100%;
        font-size: 12px;
    } 
    .current-page {
        border-right: 0;
        border-bottom: 3px solid var(--bluegreen); 
    }
    .content {
        padding: 20px;
        margin-top: 5px;
    }
    .tab-content-wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}


