/*tabs wrapper style*/
.tabs-wrapper {
    margin-top: 20px;
    background-color: var(--darkcolor);
    display: flex;
}

.tab-name {
    padding: 5px 20px;
}

.tab-name h4 {
    color: var(--lightcolor);
    font-weight: 500;
}

.tab-wrapper:hover{
    background-color: var(--hovercolor);
}

.tab-name:hover {
    opacity: 0.8;
    cursor: pointer;
}

.current-tab {
    border-bottom: 5px solid var(--bluegreen);
}

/*tab-content-wrapper style*/
#tab-1-content,
#tab-2-content {
    display: none;
}

.show {
    display: grid !important;
}

.tab-content-wrapper {
    display: flex;
    flex-direction: column;
}

.pc-time-search {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pc-time-search input[type=time]{
    margin-left: 10px;
    padding: 5px 20px;
    font-size: 1.5rem;
}

/*This is the wrapper that holds all the PC Cards and Employee Cards of tab-#-content*/
.tab-items-wrapper {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    overflow-x: hidden;
}

.tab-item-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
    border: 1px solid var(--darkcolor);
    color: black;
}

.tab-item-wrapper i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.tab-item-wrapper img{
    width: 100px;
    height: 100px;
}

.tab-item-wrapper p {
    font-size: 1.2rem;
}

/*This is the line div. dont mind*/
.info-divider {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

/*This is the wrapper for the PC cards and Employee Cards Options*/
.tab-item-option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    margin-top: 5px;
}

.tab-item-option-button {
    height: 100%;
}

.tab-item-option-button i{
    font-size: 1rem;
    color: var(--lightcolor);
}

/*Table like Designs*/

.lab-user-reservation-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-search {
    display: flex;
    gap: 5px;
    margin-top: 50px;
}

.lab-users-reservations-wrapper {
    margin-top: 10px;
    width: 100%;
    height: 270px;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #d9d9d9;
}

.lab-user-reservation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid black;
}

.lab-user-reservation-item img {
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.customer-accounts-wrapper {
    margin-top: 10px;
    width: 100%;
    height: 380px;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #d9d9d9;
}

.customer-account-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid black;
}

.customer-account-item img {
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.customer-account-options {
    display: flex;
    gap: 5px;
}

.customer-search {
    display: flex;
    gap: 5px;
}

@media (max-width: 768px) {
    .tab-items-wrapper {
        grid-template-columns: repeat(3,1fr);
    }
    .tab-item-wrapper {
        padding: 10px 3px;
    }
    .tab-item-wrapper p {    
        font-size: 0.5rem;
    }
    .info-divider {
        width: 90%;
    }
    .btn-toggle {
        height: 80%;
    }
    .customer-account-wrapper {
        gap: 10px;
    }
    .customer-account-options {
        display: flex;
        flex-direction: column;
    }
}